@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'ProfilfontBold';
    src: url(/fonts/Profilfont-Bold-Web.woff2) format('woff2'), url(/fonts/Profilfont-Bold-Web.woff) format('woff');
  }

  @font-face {
    font-family: 'ProfilfontRegular';
    src: url(/fonts/Profilfont-Regular-Web.woff2) format('woff2'), url(/fonts/Profilfont-Regular-Web.woff) format('woff');
  }
}